##TEST REPORT
The system was provided with:
 1. A menu catalogue that ideally contains menus spanning a week but in this iteration it is just created using the empty constructor
 2. A profile catalogue that ideally contains the existing profiles but in this iteration it is just created using the empty constructor
 3. A menu controller to connect the user interface to the computer system
 4. A username and the profile associated with that username. Since we assume the user is already logged in, no authentication is performed for this iteration.
 5. A date and location provided directly by the user.

The system output:
1. A greeting message to the user
2. A prompt for the user to enter their username
3. A prompt for the user to enter their desired date
4. A prompt for the user to enter their desired location
5. The filtered menu (based on the profile preferences) displayed as text.

The outputs received are what we expected from the system.

![img.png](testResult10-15-21(part1).png)
![img.png](testResult10-15-21(part2).png)